/* src/components/ProductCard.css */
.Merch {
    width: 80%;
    margin: 0 auto;
    box-shadow: 1 10px 100px rgba(55, 39, 145, 0.895);
   
}

.headerMerch {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    color: white;
}

.containerMerch {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.image-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5d5d5d00;
}

.imagen-merch{
    width: 100%;
    height: 20hv;
    background-color: rgb(5, 3, 39);
}

.controls {
    width: 70%;
    margin: 0 auto;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #fafafa;
}

.botonComprar {
    background-color: #1728a9;
    color: #fff;
}

.controls button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.product-info {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(205, 102, 102, 0);
}


@media (min-width: 700px) {
    .Merch {
        width: 30%;
        margin: 0 auto;
        box-shadow: 1 10px 100px rgba(55, 39, 145, 0.895);
       
    }
    .containerMerch {
        width: 100%;
        box-shadow: 1 10px 100px rgba(55, 39, 145, 0.895);
        margin: 0 auto;
        }

    .image-container {
        height: 70%;
    }

    .imagen-merch {
        width: 100%;
    }

    .controls {
        width: 80%;
        height: auto;
    }
    .botonComprar{
        background-color: #1728a9;
        color: #fff;
    }
}
