.reproductor {
  width: 90%; /* Cambiado a 95% para que en pantallas móviles tenga más espacio */
  margin: 0 auto;
  background: rgb(9,40,37);
  color: rgb(197, 209, 242);
  box-shadow: 0 0px 10px rgba(244, 243, 248, 0.348);
  border-radius: 25px;
}

.tituloMusica {
  color: white;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

/** container grid */
.containerReproductor {
  margin: 0 auto;
  width: 100%;
  padding: 15px 0;
  display: grid;
  background: rgb(9,40,37);
  grid-template-columns: 1fr; /* Una columna por defecto */
  grid-template-rows: auto;
  grid-gap: 15px; /* Agrega espacio entre los elementos */
  height: auto;
}

/** card individual */
.cardMusica {
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  height: auto;
}

.imagenMusica {
  width: 100%;
  height: 35vh;
  object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsión */
  display: block;
}

.card-content {
  text-align: center;
  background: rgb(9,40,37);
  color: #ffffff;
}

.card-content h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.card-content p {
  margin-bottom: 2px;
  font-size: 14px;
}

.player {
    background: rgb(9,40,37);
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.player-controls {
  width: 90%;
  padding: 10px 5px;
}

/* Estilo para pantallas de tablet y computadoras */
@media (min-width: 700px) {
  .reproductor {
    width: 60%; /* Ajusta el ancho para pantallas más grandes */
    margin: 0 auto;
    background: rgb(9,40,37);
    color: rgb(197, 209, 242);
    box-shadow: 0 0px 10px rgba(244, 243, 248, 0.348);
  border-radius: 25px;
  }

  .containerReproductor {
    grid-template-columns: 1fr 1fr; /* Dos columnas para pantallas más grandes */
    grid-template-rows: auto;
    grid-gap: 10px; /* Espacio entre las columnas */
    width: 95%;
    border-radius: 5px;
  }

  .cardMusica {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    height: 58vh;
  }

  .imagenMusica {
    width: 100%;
    height: 35vh; /* Ajusta la altura automáticamente para mantener el aspecto */
  }
}
