
.card {
    margin: 0 auto;
    width: 80%;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    box-shadow: 0 0px 10px rgba(75, 75, 76, 0.348);
}




@media(min-width: 700px){
    .card {
        margin: 0 auto;
        width: 25%;
        height: auto;
        background: rgb(0, 7, 6);
        color: azure;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 0px 10px rgba(244, 243, 248, 0.348);
    }
    .imagen-Lanzamiento {
        margin: 0 auto;
        padding-bottom: 0;
        border-radius: 20px;
        width: 100%;
        height: auto;
    }
}