.card {
    margin: 0 auto;
    width: 30%;
    height: auto;
    background: rgb(9,40,37);
    color: azure;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0px 10px rgba(244, 243, 248, 0.348);
}
.card-img-top {
    padding-top: 15px;
    padding-bottom: 0;
    border-radius: 23px;
    width: 95%;
    height: auto;
}